html{
     background-image:url("https://media.giphy.com/media/qxaRumIP1tZOE/giphy.gif");
     background-size:100%;
}
ul{
   font-weight: bold;
    font-size: 30px;
    color: yellow;
} 
li{
    font-weight: bold;
    font-size: 30px;
    color:Cyan;
}
p{
font-weight: bold;
    font-size: 30px;
    color:yellow;
}
